/* Se eliminan los valores predeterminados */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*PROPIEDADES UTILIZADAS EN TODO EL BODY*/
:root {
    --background-azul1: #080056;
    --background-azul2: #0E335B;
    --color-amarillo: #cccc36;
    --color-azulCielo: #09A0Db;
    --color-negro: #000000;
    --font-size: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/*--------NAVBAR-------------*/
.logo {
    width: 5rem;
}

.container-fluid {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1rem;
    color: var(--background-azul1);
}

.navbar-brand {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1rem;
    color: var(--background-azul1);
    margin: 0.5rem;
}

.navbar-brand:hover {
    text-decoration: underline;
    color: var(--color-azulCielo);
    transition: 1s;
}

.nav-link {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1rem;
    color: var(--background-azul1);
}

.nav-link:hover {
    color: var(--color-azulCielo);
    text-decoration: underline;
    transition: 1s;
}

.afiliate {
    text-decoration: none;
    border-radius: 2rem;
    margin: .1rem .3rem;
    padding: .1rem .1rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: .85rem;
    transition: .3s;
    background-color: var(--color-azulCielo);
    text-align: center;
    align-content: center;
    align-items: center;
    color: white;
    display: flex;
}

.material-symbols-outlined {
    margin: 0.1rem;
}

.material-symbols-outlined:hover {
    color: var(--color-negro);
    margin: 0.1rem;
}

.afiliate:hover {
    text-decoration: none;
    border-radius: 2rem;
    margin: .2rem .3rem;
    padding: .1rem .1rem;
    cursor: pointer;
    color: var(--color-negro);
    transition: .3s;
    font-size: .90rem;

}

/*----------------INICIA BODY------------------------------*/

/* -------------------INICIA LA IMAGEN DEL FONDO------------------------- */
.imagen1Fondo {
    max-width: 100%;
    width: 100%;
    height: 35rem;
    background-size: cover;
    background-position: center;
}

.sombra {
    max-width: 100%;
    position: absolute;
    z-index: 0;
    top: 20rem;
    left: 28rem;
    background-color: var(--background-azul2);
    display: grid;
    justify-content: center;
    align-items: center;
    border-radius: 0.9rem;
    transition: opacity .3s;
    opacity: 1;
    padding: 2rem 5rem;
    color: white;
}

.botonDonaciones {
    max-width: 100%;
    font-size: 1rem;
    border-radius: 2rem;
    transition: 1s;
}

.botonDonaciones:hover {
    background-color: var(--background-azul2);
    border-color: var(--background-azul1);
    color: var(--color-amarillo);
}

/* ----------nuestra politica */
.row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: .5rem;
}

.col-md-1 {
    width: 15rem;
    margin: 1rem;
    text-decoration: none;
}

.img1-fluid {
    width: 32rem;
    height: 20rem;
}

.card1-title {
    margin: 1rem 1rem .5rem 16rem;
    width: 30rem;
}

.card1-text {
    margin: 1rem 1rem .5rem 16rem;
    text-align: justify;
    width: 35rem;
}

/*  nuestras propuestas */
h2{
    margin:1.5rem .5rem;
    color: var(--background-azul1);
}


/* ----------------------------SECCION DE NUESTRAS PROPUESTAS -------------------------- */

.politicos {
    max-width: 100%;
    margin: 3rem 8rem;
}

.encuentranos {
    max-width: 100%;
    margin: 0rem 1rem;
}

.persona {
    max-width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    color: var(--background-azul1);
    margin: 0rem 7rem;
    text-align: center;
}

.persona:hover {
    color: #000000;
}

.fotoPersonaje {
    max-width: 100%;
    width: 15rem;
    height: 15rem;
    border-radius: 15rem;
    gap: 5rem;
    margin: 1rem 5rem;
}

.saberMas {
    max-width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    color: var(--background-azul1);
    margin: .5rem 6rem 1rem 8rem;
    padding: .1rem 1rem;
    border-radius: 4rem;
    border-color: var(--background-azul1);
    align-items: start;
}

.saberMas:hover {
    background-color: var(--color-azulCielo);
    color: white;
}

.politicos {
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}


/* --------------------------------------------FOOTER */

.logoFooter{
    width:8rem;
    height: 8rem;
}

.socialRed{
    margin:.5rem 2rem 0.5rem 0rem;
    text-align: center;
    width:2rem;
    height: 2rem;
}

.footer{
    padding: 1rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    background-color: var(--background-azul1);
}

.text-uppercase:hover{
    text-decoration: overline;
    color:var(--color-azulCielo);
}

.text-reset:hover{
    text-decoration: overline;
    color: var(--color-azulCielo);
}

p:hover{
    text-decoration: overline;
    color:var(--color-azulCielo);
}

.text-center{
    text-decoration: unset;
    color: white;
}


/* ---------MEDIAQUERIES------------ */
@media screen and (max-width: 1000px) {
    .col-md-1 {
        width: 10rem;
        margin: 1rem;
        text-decoration: none;
    }

    .img1-fluid {
        width: 25rem;
        height: 20rem;
    }

    .card1-title {
        margin: 1rem 1rem .5rem 13rem;
        width: 30rem;
    }

    .card1-text {
        margin: 1rem 1rem .5rem 13rem;
        text-align: justify;
        width: 35rem;
    }

    /*IMAGENES DE PROPUESTAS*/
    .politicos {
    max-width: 100%;
    margin: 3rem 8rem;
}

.encuentranos {
    max-width: 100%;
    margin: 0rem 1rem;
}

.persona {
    max-width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: .5rem;
    color: var(--background-azul1);
    margin: 0rem 4rem;
    text-align: center;
}

.persona:hover {
    color: #000000;
}

.fotoPersonaje {
    max-width: 100%;
    width: 10rem;
    height: 10rem;
    border-radius: 10rem;
    gap: 4rem;
    margin: 1rem 3rem;
}

.saberMas {
    max-width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    color: var(--background-azul1);
    margin: .5rem 4rem 1rem 6rem;
    padding: .1rem 1rem;
    border-radius: 2rem;
    border-color: var(--background-azul1);
    align-items: start;
}

.saberMas:hover {
    background-color: var(--color-azulCielo);
    color: white;
}

.politicos {
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}




}

/*700px*/
@media screen and (max-width: 700px) {
    .col-md-1{
        width: 10rem;
        margin:1rem;
        text-decoration: none;
    }
    .img1-fluid{
        width: 15rem;
        height: 20rem;
    }
    .card1-title{
        margin: 1rem 1rem .5rem 4rem;
        width: 20rem;
    }
    
    .card1-text{
        margin: 1rem 0rem .5rem 3rem;
        text-align: justify;
        width: 20rem;
        font-size: .8rem;
    }
    
     /*IMAGENES DE PROPUESTAS*/
    .politicos {
    max-width: 100%;
    margin: 3rem 8rem;
}

.encuentranos {
    max-width: 100%;
    margin: 0rem 1rem;
}

.persona {
    max-width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: .5rem;
    color: var(--background-azul1);
    margin: 0rem 4rem;
    text-align: center;
}

.persona:hover {
    color: #000000;
}

.fotoPersonaje {
    max-width: 100%;
    width: 10rem;
    height: 10rem;
    border-radius: 10rem;
    gap: 4rem;
    margin: 1rem 3rem;
}

.saberMas {
    max-width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    color: var(--background-azul1);
    margin: .5rem 4rem 1rem 6rem;
    padding: .1rem 1rem;
    border-radius: 2rem;
    border-color: var(--background-azul1);
    align-items: start;
}

.saberMas:hover {
    background-color: var(--color-azulCielo);
    color: white;
}

.politicos {
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
    
}

/*500*/
@media screen and (max-width: 500px) {
    .col-md-1{
        width: 6rem;
        margin:1rem;
        text-decoration: none;
    }
    .img1-fluid{
        width: 8rem;
        height: 20rem;
    }
    .card1-title{
        margin: 1rem 1rem .5rem 0rem;
        width: 18rem;
    }
    
    .card1-text{
        margin: 1rem 0rem .5rem 0rem;
        text-align: justify;
        width: 18rem;
        font-size: .8rem;
    }

     /*IMAGENES DE PROPUESTAS*/
    .politicos {
    max-width: 100%;
    margin: 3rem 4rem;
}

.encuentranos {
    max-width: 100%;
    margin: 0rem .5rem;
}

.persona {
    max-width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: .3rem;
    color: var(--background-azul1);
    margin: 0rem 2rem;
    text-align: center;
}

.persona:hover {
    color: #000000;
}

.fotoPersonaje {
    max-width: 100%;
    width: 6rem;
    height: 6rem;
    border-radius: 6rem;
    gap: 2rem;
    margin: 1rem 2rem;
}

.saberMas {
    max-width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: .8rem;
    color: var(--background-azul1);
    margin: .5rem 1rem 1rem 2rem;
    padding: .1rem 1rem;
    border-radius: 1rem;
    border-color: var(--background-azul1);
    align-items: start;
}

.saberMas:hover {
    background-color: var(--color-azulCielo);
    color: white;
}

.politicos {
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
}

/*350px*/
@media screen and (max-width: 350px) {
    .col-md-1{
        width: 4rem;
        margin:1rem;
        text-decoration: none;
    }
    .img1-fluid{
        width: 5rem;
        height: 20rem;
    }
    .card1-title{
        margin: 1rem 1rem .5rem 0rem;
        width: 8rem;
    }
    
    .card1-text{
        margin: 1rem 0rem .5rem 0rem;
        text-align: justify;
        width: 10rem;
        font-size: .5rem;
    }
       /*IMAGENES DE PROPUESTAS*/
    .politicos {
    max-width: 100%;
    margin: 3rem 4rem;
}

.encuentranos {
    max-width: 100%;
    margin: 0rem .5rem;
}

.persona {
    max-width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: .3rem;
    color: var(--background-azul1);
    margin: 0rem 2rem;
    text-align: center;
}

.persona:hover {
    color: #000000;
}

.fotoPersonaje {
    max-width: 100%;
    width: 6rem;
    height: 6rem;
    border-radius: 6rem;
    gap: 2rem;
    margin: 1rem 2rem;
}

.saberMas {
    max-width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: .8rem;
    color: var(--background-azul1);
    margin: .5rem 1rem 1rem 2rem;
    padding: .1rem 1rem;
    border-radius: 1rem;
    border-color: var(--background-azul1);
    align-items: start;
}

.saberMas:hover {
    background-color: var(--color-azulCielo);
    color: white;
}

.politicos {
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}
}
